@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Monsieur+La+Doulaise&display=swap');
* {
  padding: 0;
  margin: 0;
}
body::before {
  content: '';
  background-image:url(9.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: -1;
  
}

nav {
  width: 100px;
  position: fixed;
  background-color: darkgray;
  top: 50%;
  transform:translateY(-50%);
  padding: 20px;
  width: fit-content;
  border-radius: 25px;
  z-index: 1000;
  
}
nav ul {
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
  text-align: center;
}

nav ul li {
  list-style: none;
  
  

}

nav ul i {
  color: #f7f1f1;

}
#akad {
  background-image: url(2.jpg);
  background-size:cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkgray;
  

  

}

#akad .rd {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 100px;
  transform: translateY(-50%);
  

}

#akad .akad1 {
  transform: translateY(50%);

}

#akad .akad1 h1 {
  font-size: 50px;
  
}

#ungkapan {
  padding: 8em 5em;
  background-image: url(mempelai.jpg);
  font-size: 26px;
}

#mempelai {
  background-image: url(mempelai.jpg);
  height: 224vh;
  padding-top: 2em;
  background-size: cover;

}

#mempelai .fotolaki {
  background-image: url(4.jpg);
  background-size: cover;
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 0 125px 0 0;
  
  
}
#mempelai .laki {
  background-color: #f7f1f1;
  opacity: 65%;
  position:relative;
  padding: 3em 5em;
  border-radius: 0 125px 0  0;
  

}

#mempelai .fotocewek {
  background-image: url(4.jpg);
  background-size: cover;
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius:  125px 0 0 0;
  position: absolute;
  right: 0;
  transform: translateY(12%);
}
#mempelai .cewek {
  background-color: #f7f1f1;
  opacity: 65%;
  position:relative;
  padding: 3em 5em;
  border-radius: 125px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  

}

#cerita {
  background-image: url(Cerita.jpg);
  padding: 9em;
  background-size:cover;
  justify-content: center;
  text-align: center;
  
}
.button {
  background-color:dimgrey;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;

}


#foto {
  display: block;
  padding:  5em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(9.jpg);
  height: 300vh;
  width: 100%;
  background-size:100%;
  
}

#foto .flexbox {
  width: 100%;
  display: flex;
  justify-content:start;
  align-items: center;
  margin-bottom: 2em;
  overflow:scroll;
  

}

.flexbox .gallery img {
  width: 200px;
  height: 100px;
  margin-right: 1em;
 
}

#foto #youtube {
  display: flex;
  align-items:center;
  justify-content: center;

}

#ucapan {
  background-image: url(Comment.jpg);
  background-size: cover;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ucapan  .komen {
  width: 70%;
  height: 100%;
  background-image: url(bgcomen.jpg);
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  border-radius: 40% 40% 0 0 ;
  padding: 4em;
  margin-top: 2em;


}

#ucapan  .komen h1 {
  font-size: 4em;
  margin-top: 0;

  
}

#ucapan .doa{
  margin-top: 3em;

}

#ucapan .scroll {
  overflow: scroll;
  height: 33em;
  width: 27em;
  margin-top: 6em;
  margin-bottom: 3em;
}


#ucapan .pencet{
  display: block;
  width: 100%;

}

#ucapan form {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  
}
#ucapan form .button{}
textarea, button, input {
  width: 100%;
  margin-bottom: 2em;
}

#ucapan h3 {
  padding-bottom: 20px;
}

footer {
  background-color: aqua;
  background-size: cover;
  margin: 7em;
}