body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  background: url(bg-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover {
  min-height: 100vh;
  color: seashell;
  padding: 0;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.cover h1 {
  font-family: "Sacramento", cursive;
  font-size: 100px;
}

* {
  padding: 0;
  margin: 0;
}
body::before {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: -1;
}

#navbarleft {
  width: 100px;
  position: fixed;
  background-color: #717171;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: fit-content;
  border-radius: 25px;
  z-index: 1000;
}
#navbarleft ul {
  height: 10em;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
  text-align: center;
}

#navbarleft ul li {
  list-style: none;
}

#navbarleft ul i {
  color: #f7f1f1;
}

#toggle {
  width: 100%;
  position: fixed;
  background-color: #717171;
  top: 0%;
  z-index: 1000;
  padding: 10px;
}

#toggle a {
  padding: 0;
  margin: 0;
  color: white;
  background-color: dimgrey;
  overflow: hidden;
  border-radius: 3vh;
  padding: 8px;
  text-decoration: none;
  font-size: 2, 3vh;
}

#toggle a:hover {
  background-color: white;
  color: #717171;
}

#toggle ul li {
  right: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(43%);
}

#akad {
  background-image: url(Akad11.jpg);

  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Sacramento", cursive;
  color: #ded2d2;
}

#akad .ke {
  font-family: "Sacramento", cursive;
  font-size: 150px;
  transform: translateY(-50%);
  line-height: 2rem;
}

.akadnikah {
  transform: translateY(20%);
}

.akadnikah h1 {
  font-size: 50px;
}

.lihat {
  font-family: "Work Sans", sans-serif;
  background-color: #717171;
  border: none;
  color: whitesmoke;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

#ungkapan {
  background-image: url(bg-5.jpg);
  color: #0a0a0a;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0%;
  font-size: 26px;
}

.kutipan {
  justify-content: center;
  padding: 9em;
  position: absolute;
}

#mempelai {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg-5.jpg);
  min-height: 100vh;
}

#mempelai .mempelaiPria {
  background-image: url(foto-mempelai-pria.jpg);
  background-size: cover;
  width: 500px;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 0 125px 0 0;
  position: absolute;
  left: 0;
}
#mempelai .pria {
  background-color: #f7f1f1;
  color: #0a0a0a;
  opacity: 65%;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 0 125px 0 0;
}

#mempelai .mempelaiWanita {
  background-image: url(foto-mempelai-wanita.jpg);
  background-size: cover;
  width: 500px;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 125px 0 0 0;
  position: absolute;
  right: 0;
}
#mempelai .wanita {
  background-color: #f7f1f1;
  color: #0a0a0a;
  opacity: 65%;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 125px 0 0 0;
}

#cerita {
  font-family: "Work Sans", sans-serif;
  background-image: url(bgceritaa.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #717171;
  border: none;
  color: whitesmoke;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}
#galeri {
  background-image: url(bgceritaa.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.besar {
  align-items: center;
  width: 100%;
  height: 68%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.besar img {
  height: 600px;
  width: 800px;
  display: none;
}

.besar img.active {
  display: block;
}

.kecil {
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 15px;
  display: flex;
  align-items: end;
}

.kecil img {
  width: 200px;
  height: 100px;
}
.kecil img:hover {
  width: 250px;
  height: 130px;
}

#agenda {
  height: 100vh;
  background-image: url(denah.jpg);
  background-size: cover;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  color: antiquewhite;
  display: flex;
  flex: 1;
}

.acara {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.desc {
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 90%;
  padding: 150px 0 150px 0;
  border-radius: 24px;
}

.denah {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.maps {
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 80%;
  padding: 10px 0 10px 0;

  border-radius: 24px;
}

.acara p {
  font-size: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.rsvp {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* CSS untuk body, mengatur latar belakang */
body {
  /* Agar gambar latar belakang mengisi seluruh layar */
  background-position: center; /* Menyusun gambar latar belakang ke tengah */
  font-family: Arial, sans-serif; /* Memilih jenis font untuk teks */
  color: #fff; /* Warna teks menjadi putih */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#video #prewedding {
  background-image: url(Greybg.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#momen {
  background-image: url(bg-7.jpg);
  font-family: "Work Sans", sans-serif;
  color: #0a0a0a;
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#momen h5 {
  font-size: 50px;
}

#momen p {
  font-size: 30px;
}

#kehadiran {
  background-image: url(Tutt.jpg);
  display: flex;
  font-family: "Work Sans", sans-serif;
  color: #0a0a0a;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#kehadiran .button {
  color: white;
  font-size: 20px;
}

#kehadiran p {
  font-size: 30px;
}

#ucapan {
  background-image: url(bg-3.jpg);
  background-size: cover;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ucapan .komen {
  width: 60%;
  height: 80%;
  background-image: url(bg-5.jpg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20% 20% 20% 20%;
  padding: 4em;
  margin-top: 2em;
}

#ucapan .komen h1 {
  color: #0a0a0a;
  font-size: 5em;
  margin-top: 0;
}

#ucapan .doa {
  color: #0a0a0a;
  margin-top: 3em;
}

#ucapan .scroll {
  overflow: scroll;
  height: 33em;
  width: 27em;
  margin-top: 6em;
  margin-bottom: 3em;
}

#ucapan .pencet {
  display: block;
  width: 100%;
}

#ucapan form {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ucapan form .button {
}
textarea,
button,
input {
  width: 100%;
  margin-bottom: 3em;
}

#ucapan h3 {
  padding-bottom: 20px;
}
