#navbar {
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    font-size:2em;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#team {
    display: flex;
    height: 80vh;
    width: 100%;

}
.image {

    display: flex;
    width: 50%;
    height: 65%;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    
}

.image img {
    height: 100%;
    width: auto;
 
    
}

.kata{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
}



#our {
    height:70%;
    background-color:dimgrey;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#ayam h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:dimgrey ;
    color: white;
}
.kata p {
    margin: 0;
}


.person {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 3em;
    color :white;
  
}
.person img {
    height: 30vh;
    width: auto;
    border-radius: 12px;
}

span {
    margin: 2px;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 30vh;
    overflow: hidden;
}
  
.overlay span {
    opacity: 0;
    transition: opacity 0.5s,transform 0.5s ;
    background-color:rgba(0,0,0, 0.5);
    font-size: 2em;
    opacity:85% ;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.overlay span.active{
    transform: translateY(-100%);
    opacity: 1;
    
}

